.env
Rules:
- Code review, every Sunday morning
- Advance at least 5 hours of the videos per week, until the code review
- Have done at least 3 commits to the repo until the code review
- Have done at least 3 interactions with any developer at any platform
- Have readen at least one article about:
	- Angular
	- JS
	- Git
	- English
  or whatever you find interesting and related.
- Have a count of github, stackoverflow, linkedin, twitter and facebook

Account:
email: cor.xime@gmail.com
pass:  $4nt14g0*17